{
  "plugins": [
    "transform-object-rest-spread",
    "transform-flow-strip-types",
    "transform-class-properties"
  ],

  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 5 versions", "safari >= 7"]
        },
        "modules": false,
        "useBuiltIns": true
      }
    ],
    ["react"]
  ]
}