@import "../../../public/less/variables";

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: @all-page-padding;
  background: url("man300.png") no-repeat left bottom, url("girl.png") no-repeat right bottom;
  &__img {
    max-width: 100%;
    height: auto;
  }
  &__title {
    color: @secondary-color;
    flex-basis: 100%;
    text-align: center;
    text-transform: capitalize;
  }
  &__text {
    color: @text-color;
    font-size: @font-size-xl;
    text-align: center;
    margin: 0;
  }
}

@media @desktop {
  .intro {
    padding: @all-page-padding-desktop;
  }
}

@media @tablet {
  .intro {
    padding: @all-page-padding-tablet;
  }
}